<footer style="display: grid">
  <p>&copy; 2025 B A C. All rights reserved.</p>
  <div style="display: flex; gap: 25px; justify-content: center;">
    <a style="color: white;" href="/termsandcondition">Terms and Conditions</a>
    <a style="color: white;" href="/privacypolicy">Privacy Policy</a>
    <a style="color: white;" href="/legal">Legal Notice</a>
</div>
</footer>
