<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <header>
      <nav>
        <h1 class="logo"><a href="/" style="color: #ff6b6b">B A C</a></h1>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#packages">Packages</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="about">
      <h2>Legal Notice</h2>
      <h4><u>Website Owner:</u> Lashkare Pushkar</h4>
      <h4>
        <u>Registered Address:</u> Madhuvan Flats, Amraiwadi, Ahmedabad, Gujarat
        - 380026
      </h4>
      <h4>
        <u>Contact Email:</u>
        <a
          href="mailto:bacyt2529@gmail.com"
          style="color: white; text-decoration: none"
          >bacyt2529@gmail.com</a
        >
      </h4>
      <ul>
        <li style="margin-top: 25px; margin-left: 25px; list-style: decimal">
          All content on this website is owned by B A C Web Development and is
          protected under copyright laws. Unauthorized use, reproduction, or
          distribution of any content without written permission is prohibited.
        </li>
        <li style="margin-left: 25px; list-style: decimal">
          B A C Web Development is not responsible for any loss or damage caused
          by reliance on information provided on this website.
        </li>
        <li style="margin-left: 25px; list-style: decimal">
          This website operates under the jurisdiction of India/Gujarat,
          and any disputes will be resolved accordingly.
        </li>
      </ul>
    </section>

    <%- include('partials/footer')%>
  </body>
</html>
