<!DOCTYPE html>
<html lang="en">
<head>
    
  <%- include('partials/head')%>
    <title>Maintenance Mode</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background: #5c5c5c;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Website Under Maintenance</h1>
        <p>We are currently performing some updates. Please check back in a hour.</p>
    </div>
</body>
</html>
