<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Dev Business</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="script/main.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <h1 class="logo"><a href="/" style="color: #ff6b6b;">B A C</a></h1>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/">Packages</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="hero">
      <div class="hero-content">
        <h2 class="fade-in"><%= success %></h2>
        <p class="fade-in">Thanks for Submitting Form</p>
        <p class="fade-in">Kindly Check our Mail.</p>
        <a href="/" class="btn fade-in">Home</a>
      </div>
    </section>

    <%- include('partials/footer')%>
  </body>
</html>
